@model IEnumerable<string>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

@* <h1>@ViewBag.Name</h1> *@

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        @ViewBag.Description
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (string name in Enum.GetNames(typeof(DataType)))
        {
            <a asp-action="Index" asp-route-type="@name" class="dropdown-item">@name</a>
        }
        </div>
    </div>
    <br>
    <form asp-action="Create" asp-route-type="@ViewBag.Description">
        <div class="form-group">
            <input class="form-control" name="value" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <table class="table">
        <tbody>
            @foreach (string item in Model)
        {
            <tr>
                <td>
                    <label>@item</label>

                </td>
                <td>
                    <form asp-action="Delete" asp-route-value="@item" asp-route-type="@ViewBag.Description">
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>