@model Model.Activity

@{
    ViewData["Title"] = ViewBag.Method;
}

@* <h1>@Model.Room</h1>

<h4>@Common.SlotToTermMapper.GetTerm(Model.Slot).Item1</h4>
<h4>@Common.SlotToTermMapper.GetTerm(Model.Slot).Item2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.Method">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hide-form">
                <input asp-for="Slot" class="form-control" type="hidden" />
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>
            <div class="form-group hide-form">
                <input asp-for="Room" class="form-control" type="hidden" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <select asp-for="Group" class="form-control"
                    asp-items="@(new SelectList(@ViewBag.ListOfGroups))"></select>
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <select asp-for="Class" class="form-control"
                    asp-items="@(new SelectList(@ViewBag.ListOfClasses))"></select>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Teacher" class="control-label"></label>
                <select asp-for="Teacher" class="form-control"
                    asp-items="@(new SelectList(@ViewBag.ListOfTeachers))"></select>
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Method == "Edit")
        {
            <form asp-action="Delete" asp-route-id="@Model.Id" asp-route-room="@Model.Room">
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        }

        </div>
    </div>

    <div>
        <a asp-action="Index" asp-route-name="@Model.Room">Back to List</a>
    </div> *@