@model Contracts.ViewModels.ScheduleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Name</h1>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        @ViewBag.Description
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (string item in ViewBag.DropDownListElements)
        {
            <a asp-action="Index" asp-route-name="@item" class="dropdown-item">@item</a>
        }
        </div>
    </div>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-light btn-block">czas</button>
                </td>
                @foreach (WebClient.Utils.Days day in Enum.GetValues(typeof(WebClient.Utils.Days)))
            {
                <td>
                    <a type="button" class="btn btn-light btn-block">@day</a>
                </td>
            }
        </tr>
        @for (int i = 0; i < 9; ++i)
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-light btn-block">@WebClient.Utils.Hours.Values[i]</button>
                </td>
                @for (int k = 0; k < 5; ++k)
                {
                    int slotNumber = i * 5 + k;
                    <td>
                        @if (Model.Slots[slotNumber].Id is null)
                        {
                            <a asp-action="Create" asp-route-slot="@slotNumber" asp-route-helper="@ViewBag.Description" type="button" class="btn btn-secondary btn-block">
                                @Model.Slots[slotNumber].Title</a>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Slots[slotNumber].Id" type="button"
                                class="btn btn-secondary btn-block">
                                @Model.Slots[slotNumber].Title</a>
                        }
                        </td>
                }
            </tr>
        }
    </tbody>
</table>
